.pager {
    margin-bottom: 100px;
    text-align: center;        
}

.pagination {
    display: inline-block;                    
}

.pagination li {
    display: inline-flex;
    background-color: white;
    float: left;
    padding: 6px 12px;        
    border-style: groove;
    border-width: 2px;
    border-color: rgb(230, 239, 241);    
}

.pagination li.active {
    background-color: rgb(166, 221, 241);    
    font-weight: bold;    
  }
  
.pagination li:hover:not(.active) {
    background-color: rgb(228, 228, 228);
}