<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    <table class="table table-hover table-bordered text-center">                    
        <thead class="thead-dark">
            <tr>
                <th>Dokumen</th>
                <th>Cosine Similarity</th>
                <th>Rangking</th>
            </tr>            
        </thead>
        <tbody>        
            <tr>
                <td class="align-middle">http://ilham.com/</td> 
                <td class="align-middle">
                    (0.5 * 0.4)<sub>tempat</sub> + (0.6 * 0.3)<sub>wisata</sub>
                    <hr>
                    0.5 * 0.6
                </td> 
                <td class="align-middle">0.87868</td> 
            </tr>            
        </tbody>
    </table>
</body>
</html>